13EAI1050 Smart systems (2018-19 - PBEAI)<br>
Bryan Honof & Jeffrey Gorissen<br>

<a href="{{ url_for('regression') }}">Regression</a>
<br>
<a href="{{ url_for('classification') }}">Classification</a>
